.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 4rem;
    margin: 0 auto;

    @media (max-width: $medium-screen) {
        padding: 0px 2rem;
    }
}

.section {
    padding: 2rem 0;
    margin-top: 8rem;
}
