.header {
    padding: 2rem 0;
}

.header__wrapper {
    display: flex;
    align-items: center;
}

.header__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__actions {
    display: flex;
    align-items: center;
    column-gap: 3rem;
}

@media (max-width: $large-screen) {
    .mobile-nav {
        display: block;
    }

    .nav {
        display: none;
    }

    .header__actions {
        display: none;
    }
}

@media (max-width: $small-screen) {
    .header {
        margin-bottom: 3rem;
    }
}
