.nav {
    display: flex;
    justify-content: space-between;
    column-gap: 3rem;
}

.nav__link {
    @include nav-link-style($white, 0.1s, $secondary-color);

    position: relative;

    &::after {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        bottom: -4px;
        height: 1px;
        width: 80%;
        margin: 0 auto;

        opacity: 0;
        background-color: $secondary-color;

        transition: 0.2s all ease-out;
    }

    &--active {
        @include nav-link-style($secondary-color, 0.1s, $secondary-color);

        &::after {
            opacity: 1;
        }
    }
}
